body{
	font-family: 'Noto Sans JP', sans-serif;
	font-size:16px;
	font-weight: 300;}
*,*::before, *::after{
	box-sizing: : border-box;
	margin: 0;
	padding: 0;
}




body{
	display: grid;
	grid-template-areas: 
		"fejlec"
		"kontent"
		"lablec"
	;
	grid-template-rows: max-content 1fr max-content;
	min-height: 100vh;
}
header{
	background-color: #f97033;
	grid-area: : fejlec;
	border-bottom: 2px solid #000000 ;
}
main{
	background-color: #e6e5e7;
	grid-area: : kontent;
}
footer{
	background-color: #f97033;
	grid-area: lablec;
}


/*--kinézet--*/

header{
	line-height: 2rem;
	font-size: 1.8rem;
	padding: 1rem 1.3rem;
}
.header_bal{
	text-align: left;
}
footer{
	color: white; 
	padding: .75rem 1rem;
	font-size: 1.25rem;
	border-top: 2px solid #000000 ;
	margin-top: 0;
}
a{
	color: white;
	text-decoration-line:none;
}
span{
	color: black;
	padding: 20px
}
span:hover{
	background-color: #491e0f;
	color: #c35228;
}
a.email{
	padding-right: 10px;
}
a.email:hover{
	font-weight: bold;
}

/*--fő-oldal--*/
.hatter{
	width: 100%;
	height: 100%;
	padding: 0;
	margin-bottom: 0;
		}
.fo-oldal{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 4rem;
	font-style: 'Lucida Handwriting', Cursive;
	font-weight: bold;
}
/*--rólam--*/
.rolam{
	color: black;
	font-size: 2rem;
	font-style: 'Lucida Handwriting', Cursive;
	font-weight: bold;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 1rem;
}

/*--kepracs--kepek*/
.kepracs{ 
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 1rem;
}
.kepracs .kep-doboz {
	margin-right: 1rem;
	margin-left: 1rem;
}
.kep-doboz.kep{
	height: 10rem;
	background-color: #fce0d6 ;
	text-align: center;
}
.kep img{
	height:  100%;
	width:  100%;
	object-fit: contain;
}
.kep-doboz p{
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	padding: 1rem;
}

/*--tervek--*/
.terv{	
	text-align: center;
	font-size: 1.5rem;
	font-style: 'Lucida Handwriting', Cursive;
	font-weight: bold;
	padding: 1rem;
	padding-left: 25%;
	padding-right: 25%;
}
.forcim{
	color: black;
	font-size: 1.5rem;
	font-style: 'Lucida Handwriting', Cursive;
	font-weight: bold;
	padding-left: 25%;
}
.forras{
	color: black;
	font-size: 1.5rem;
	font-style: 'Lucida Handwriting', Cursive;
	font-weight: bold;
	padding-left: 25%;
}
.forras:hover{
	color:#32bff4;
}

